@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Manrope', sans-serif;
}
.main-des{
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
}
.program{
    padding-top: 50px;
    padding-bottom: 50px;
}
.massege{
    border-bottom: 1px solid gray;
}
.claint{
    border: 1px solid gray;
}
